h1, h2 {
  font-size: 1.5rem;
}

hr {
  height: 2px;
}

dd.form-group {
  margin: 0;
}

dl {
  border: 1px solid black;
  border-radius: 5px;
}

dt {
  border-top: 1px solid black;
  border-left: 1px solid;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: rgb(190, 225, 255);
  z-index: 3;
}



dd {
  padding-left: 20px;
}

.signature {
  margin-bottom: 2rem;
}

.signature div h3 {
  font-size: 1rem;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-color: black;
  border-style: solid;
  margin: 0;
  height: 200px;
}

.signature div:last-child h3 {
  border-bottom: 1px solid black;
}

.signature.row div h3 {
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.signature.row div:last-child h3 {
  border-right: 1px solid black;
}

.fit-content {
  width: auto;
}

.w-60px {
  width: 60px !important;
}

fieldset.personnal-fieldset {
  border: 1px groove #ddd !important;
  border-radius: 5px;
}

legend {
  font-size: 1rem;
  font-weight: 600;
  width: auto;
}

label {
  margin: 0;
}

ul.duration-toggler li {
  list-style-type: none;
}

.hidden {
  display: none !important;
}

/* Color reset for no-validation input elements */

.custom-control-input.no-validation.is-valid~.custom-control-label,
 .was-validated .custom-control-input.no-validation:valid~.custom-control-label {
  color: #212529;
}

.custom-control-input.no-validation.is-valid:checked~.custom-control-label::before,
.was-validated .custom-control-input.no-validation:valid:checked~.custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.custom-control-input.no-validation.is-valid~.custom-control-label::before, .was-validated .custom-control-input.no-validation:valid~.custom-control-label::before {
  border-color: #adb5bd;
}

.custom-control-label::before {
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.item {
  width : 100%;
}

/*    */

