header img {
  max-width: 150px;
  height: auto;
}

h1 {
  font-size: 2rem;
}

input {
  text-align: center;
  color: black;
}

#print-button {
  bottom: 50px;
  right: 100px;
  position: fixed;
  width: 100px;
}

dt {
  border-left: 0;
}

dl .item, dl .item:first-child dt {
  border-top: 0;
  border-radius: 5px 5px 0 0;
}

.custom-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #000;
  background-color: #FFF;
}

@media print {
  * {
    color-adjust: exact;
  }
  #print-button {
    display: none;
  }
}
