dt {
  border-left: 0;
}

dl .item:first-child dt {
  border-radius: 5px 5px 0 0;
  border-top: 0;
}



@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .box {
    align-content: space-between;
    height: 800px;
  }

  .item {
    height: fit-content;
    flex-grow: 1;
    width: 49%;
    border: 1px solid black;
    border-radius: 5px;
  }

  dt {
    border: 0;
    border-radius: 5px 5px 0 0;
  }
  dl {
    border: 0;
  }
}
